<form method="POST" action="/addproduct">
    <input type="text" placeholder="title" name="title"><br >
    <input type="number" placeholder="price" name="price" ><br>
    <input type="number" placeholder="rating" name="rating" ><br>
    <input type="text" placeholder="image" name="image"><br>
    <button type="submit" >Submit</button>
</form>