<section>
    <table>
        <thead>
            <tr>
                <th>Orders</th>
                <th>Customers</th>
                <th>Address</th>
                <th>Status</th>
                <th>Time</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody id="orderTableBody">

        </tbody>
    </table>
</section>