<div class="cart">
    <!-- <div class="empty_cart">
        <div class="empty_details">
            <h1>Cart Empty</h1>
            <p>You probably haven't add product to cart yet.
                To add to cart ,go to the main page.
            </p>
            <a href="/" ><button style="background-color: orange; border:none; height: 50px; width: 100px; color: white; border-radius: 4px; cursor: pointer;">Go back</button></a>
        </div>
            <img style="margin-bottom: 50px;" src="/img/empty-cart.png" alt="empty-cart" >
    </div> -->
</div>